/*Color Pallette
#008DD5 - Rich Electric Blue
#FCDEBE - Very Pale Orange
#541388 - KSU Purple
#A07178 - Burnished Brown

//From Picture//
#81938B - Mummy's Tomb <moon>
#426C6E - Deep Space Sparkle <sky>
#305D60 - Dark Slate Grey <buildings>
#0D252F - Dark Gunmetal <batman>
*/

* {
  margin: 0;
}

html body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto 180px;
}

body {
  background: url(http://wallpapercave.com/wp/Kuq1ktQ.png
  ) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Audiowide', cursive;
}

#title {
  font-size: 46px;
  margin-top: 2%;
  margin-bottom: -2%;
}

#description {
  font-size: 20px;
}

.choose {
  background: #FCDEBE;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  padding: 20px 10px 25px 10px;
  margin-top: 8%;
}

.choose-button {
  margin-top: 3%;
}

#background {
  background: black;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
}

.turn {
  display: inline-block;
  padding: 4px 4px 1px 4px;
  border-radius: 4px;
  margin-bottom: -5%;
  width: 38%;
  max-width: 120px;
}

#batman-turn {
  background: #008DD5;
}

#joker-turn {
  background: #541388;
  color: #A07178;
}

td {
  height: 130px;
  width: 230px;
}

.bottom {
  border-bottom: 5px solid #008DD5;
}

.right {
  border-right: 5px solid #008DD5;
}

.btn-primary {
  background-color: #81938B;
  border-color: #81938B;
  color: #0D252F;
  margin-top: 5px;
}

#reset-game {
  width: 120px;
}

#reset-all {
  width: 120px;
}

footer {
  background: #008DD5;
  color: #FFFFFF;
  max-width: 500px;
  margin: auto;
  border-radius: 4px;
  padding: 8px 8px 2px 8px;
}

footer #push {
  height: -180px;
}

a {
  color: #0D252F;
}
