* {
  margin: 0;
}

html body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto 180px;
}

body {
  background: url(http://wallpapercave.com/wp/Kuq1ktQ.png
  ) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Audiowide', cursive;
}

.title {
  font-size: 46px;
  margin-top: 2%;
  margin-bottom: 0;
}

.description {
  font-size: 20px;
}

.choose {
  background: #FCDEBE;
  max-width: 400px;
  max-height: 250px;
  height: 200px;
  min-height: 165px;
  margin: auto;
  border-radius: 8px;
  padding: 20px 10px 25px 10px;
  margin-top: 2%;
}

.choose-button {
  margin: 10px 10px 10px 10px;

}