* {
  margin: 0;
}

html body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto 180px;
}

body {
  background: url(http://wallpapercave.com/wp/Kuq1ktQ.png
  ) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Audiowide', cursive;
}

header {
  height: 110px;
}

.title {
  font-size: 46px;
  margin-top: 2%;
  margin-bottom: 0;
}

.description {
  font-size: 20px;
}

.choose {
  background: #FCDEBE;
  max-width: 400px;
  max-height: 250px;
  height: 200px;
  min-height: 165px;
  margin: auto;
  border-radius: 8px;
  padding: 20px 10px 25px 10px;
  margin-top: 4%;
}

.choose-button {
  margin: 10px 10px 10px 10px;

}

.background {
  background: black;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  padding-left: 0;
  padding-right: 0;
}

.game-status{
  display: inline-block;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  width: 100px;
  max-width: 120px;
  height: 50px;
}

.batman-wins {
  background: #008DD5;
  color: white;
}

.joker-wins {
  background: #541388;
  color: #A07178;
}

.turn {
  background: #0D252F;
  color: white;
}

td {
  height: 130px;
  min-width: 156px;
}

.bottom {
  border-bottom: 5px solid #008DD5;
}

.right {
  border-right: 5px solid #008DD5;
}

.btn-primary {
  background-color: #81938B;
  border-color: #81938B;
  color: #0D252F;
  margin-top: 5px;
}

.reset {
  width: 120px;
  margin: 10px 10px 10px 10px;
}

footer {
  background: #008DD5;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0 8px 0 8px;
  bottom: 0;
  z-index: 1;
}

a {
  color: #0D252F;
}